<!-- pre home snippet -->

<div class="align-items-center">
  <h1>The Bytes Smith</h1>

  <p></p>
    Delve into the forge of software innovation: seasoned engineer hammering out
    the latest tech updates and industry insights on
    <strong>The Bytes Smith</strong> podcast
  </p>

  <img
    src="assets/images/hero.jpg"
    class="preview-img"
    style="width: 100%; object-fit: cover"
  />

  <br />

  <div class="d-flex mt-3 flex-wrap justify-content-start gap-1">
    <a href="./about" class="btn btn-primary">Read more</a>

    <a href="./contacts" class="btn btn-primary">Contact us</a>

    
  </div>

   <div class="d-flex mt-3 flex-wrap justify-content-start gap-1">
<a href="https://open.spotify.com/show/1hKADK4zGdIeyokWkEx3xX" class="btn btn-success">
      <span class="fab fa-spotify"
    /></a>

    <a href="https://anchor.fm/the-bytes-smith" class="btn btn-success">
      <span class="fab fa-apple"
    /></a>

    <a href="https://anchor.fm/the-bytes-smith" class="btn btn-success">
      <span class="fab fa-google-play"
    /></a>

     <a href="https://www.youtube.com/channel/UCDbcPO3f9T1VKaecgODSjKQ" class="btn btn-success">
      <span class="fa-brands fa-youtube"
    /></a>
    

    <a href="https://twitter.com/thebytessmith" class="btn btn-success">
      <span class="fa-brands fa-x-twitter"
    /></a>
   </div>
</div>
