<!-- pre home snippet -->

<div class="align-items-center">
  <h1>The Bytes Smith</h1>

  <p></p>
    Delve into the forge of software innovation: seasoned engineer hammering out
    the latest tech updates and industry insights on
    <strong>The Bytes Smith</strong> podcast
  </p>

  <img
    src="assets/images/hero.jpg"
    class="preview-img"
    style="width: 100%; object-fit: cover"
  />

  <br />

  <div class="d-flex mt-3 flex-wrap justify-content-start gap-1">
    <a href="./about" class="btn btn-primary">Read more</a>

    <a href="./contacts" class="btn btn-primary">Contact us</a>

    <a href="https://anchor.fm/the-bytes-smith" class="btn btn-primary">
      Listen on Spotify <span class="fab fa-spotify"
    /></a>

    <a href="https://anchor.fm/the-bytes-smith" class="btn btn-primary">
      Listen on Apple Podcast <span class="fab fa-apple"
    /></a>

    <a href="https://anchor.fm/the-bytes-smith" class="btn btn-primary">
      Listen on Google Podcast <span class="fab fa-google-play"
    /></a>

    <a href="https://anchor.fm/the-bytes-smith" class="btn btn-primary">
      Follow on <span class="fa-brands fa-x-twitter"
    /></a>
  </div>
</div>
